{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": "3.0.0",
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h",
        "useBuiltIns": true
      }
    ],
    "@babel/plugin-syntax-object-rest-spread",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
