{
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-react", {
      "runtime": "classic",
      "pragma": "h"
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "h",
      "pragmaFrag": "Fragment"
    }]
  ]
}
